.tasks {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: stretch;
    width: 100%;
    height: 790px;
    background-image: url('../images/thumb-1920-1025036.jpg');
    overflow: auto;
}

.home {
    background-image: url('../images/frontdoom.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home h1 {
    color: rgb(255, 250, 250);
    background-color: rgb(165, 62, 14);
    width: 100%;
    text-align: center;
}

.home h2 {
    color: rgb(255, 255, 255);
    background-color: rgb(165, 62, 14);
    width: 100%;
    text-align: center;
}

.home a {
    color: rgb(236, 228, 115);
}

.home a:hover {
    color: rgb(197, 189, 74);
}



